---
---

@import "{{ site.theme }}";

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 20px; /* Optional: Add some padding to prevent text from touching the edges */
}

